html, body {
	margin: 0 !important;
	padding: 0 !important;

	height: 100vh !important;
	width: 100vw !important; 

	display: flex !important;
	flex-direction: column !important;

	/* font-family: "Lucida Console", monospace !important; */

	 /* overflow: hidden; */
}

* {
	/* border: 1px solid; */
	box-sizing: border-box !important;
	/* color: rgb(221, 221, 221) !important; */

	/* -webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important; */

	 /* word-break: break-all;  */
}

::-webkit-scrollbar {
	display: none !important;
}

.dot {
	border-style: dotted;
	border-width: 1px;
}

.grey {
	background-color: #d5d5d5;
}

.font-big {
	font-size: 27px;
}

.btn-danger{
	background-color: #D22030;
}

.bg-black > div {
	font-size: 20px;
}

.bg-black:hover {
	cursor: pointer;
}

.highlight{
	border: 3px solid #E64B36;
}
.ll-hl {
	background-color: rgb(0, 107, 0)green;
}

.fade:not(.show){
	opacity: unset !important; 
}
.tt {
	background-color: #ff0000;
}
.notifications{
	background-color: #d2202fe8;
	border-radius: 20px;
	padding: 20px 20px 20px 0px;
	border:#E64B36 3px inset;
}
a.notify:link{
	color: white;
	text-decoration: none;
}
a.notify:hover{
	color: white;
	text-decoration: underline;
}
a.notify:visited{
	color: whitesmoke;
}