html, body {
	margin: 0 !important;
	padding: 0 !important;

	height: 100vh !important;
	width: 100vw !important;

	display: flex !important;
	flex-direction: column !important;

	/* font-family: "Lucida Console", monospace !important; */

	/* overflow: hidden; */
}

* {
	box-sizing: border-box !important;
	/* color: rgb(221, 221, 221) !important; */

	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;

	 /* word-break: break-all;  */
}
/* @font-face {
	font-family: ATCOverlook;
	src: url("./components/Fonts/ATCOverlook-Heavy.otf");
	font-weight: 900;
  }
  @font-face {
	font-family: ATCOverlook;
	src: url("./components/Fonts/ATCOverlook-Bold.otf");
	font-weight: bold;
  }
  @font-face {
	font-family: ATCOverlook;
	src: url("./components/Fonts/ATCOverlook-BoldItalic.otf");
	font-weight: bold;
	font-style: italic;
  }
  @font-face {
	font-family: ApexSerif;
	src: url("./components/Fonts/Apex Serif Medium Regular.otf");
  }
  @font-face {
	font-family: ApexSerif;
	src: url("./components/Fonts/Apex Serif Bold Regular.otf");
	font-weight: bold;
  }
  @font-face {
	font-family: ApexSerif;
	src: url("./components/Fonts/Apex Serif Book Italic Regular.otf");
	font-weight: 350; 
	font-style: italic;
  }
  @font-face {
	font-family: ApexSerif;
	src: url("./components/Fonts/Apex Serif Book Regular.otf");
	font-weight: 350;
  }

h1{
	font-family: ATCOverlook, Helvetica, sans-serif;
	font-weight: 900;
}

h2, .h2{
	font-family: ATCOverlook, Helvetica, sans-serif;
	font-weight: bold;
}

div .tab-header {
	font-family: ATCOverlook, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}

p, li{
	font-family: ApexSerif, Georgia, serif;
	font-weight: 350;
}

.btn-text {
	font-family: ApexSerif, Georgia, serif;
} */

::-webkit-scrollbar {
	display: none !important;
}

.dot {
	border-style: dotted;
	border-width: 1px;
}

.grey {
	background-color: #d5d5d5;
}

.font-big {
	font-size: 27px;
}

.btn-danger{
	background-color: #D22030;
}

.bg-black > div {
	font-size: 20px;
}

.bg-black:hover {
	cursor: pointer;
}

.highlight{
	border: 5px solid #E64B36;
}